*.atsuo
*.cogui
*.comarker
/devices/Debug
/devices/A1Cn12
/devices/A1En12
/devices/A1ES12
/devices/A1SC12
/devices/A1Sn12
/devices/A3SC12
/devices/A3Sn12
/devices/A4Sn12
/devices/S2En12
/devices/S2SC12
/devices/S2Sn12
/devices/S3En12
/devices/S3Sn12
/devices/A4En12
/devices/logs
